<header class="site-header">
    <nav class="container main-nav">
        <ul>
            <li><a href="{{ "/denvasyukov07-beep/practice-2025-1/" | relURL }}">Главная</a></li>
            <li><a href="{{ "/denvasyukov07-beep/practice-2025-1/about/" | relURL }}">О проекте</a></li>
            <li><a href="{{ "/denvasyukov07-beep/practice-2025-1/team/" | relURL }}">Участники</a></li>
            <li><a href="{{ "/denvasyukov07-beep/practice-2025-1/journal/" | relURL }}">Журнал</a></li>
            <li><a href="{{ "/denvasyukov07-beep/practice-2025-1/resources/" | relURL }}">Ресурсы</a></li>
        </ul>
    </nav>
</header>